@model DeVeeraApp.ViewModels.VideoModel
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="Video" asp-action="Create" method="post" enctype="multipart/form-data" onsubmit="return GetFileName();" id="Videoform">
    <div class="intro-y inbox  py-10 sm:py-20 ">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg">Create Video</div>
            <div class="text-gray-600 text-center mt-2">Please add video</div>
        </div>


        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div asp-validation-summary="All" class="text-theme-6 mt-4">
                        </div>
                    }

                    <div class="grid grid-cols-12 gap-4">
                        <div class="col-span-6 mt-5">
                            <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                            </div>

                        </div>

                        <div class="col-span-6 mt-5">
                            <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                               
                            </div>

                        </div>
                        <div class="col-span-6 mt-5">

                            <label class="form-label text-theme-21 star">Name</label>
                            <input asp-for="FileName" hidden />
                            <input asp-for="Name" type="text" class="form-control" placeholder="video name" />
                            <span asp-validation-for="Name" class="text-theme-21 mt-2"></span>
                        </div>

                        <div class="col-span-6 mt-5">

                            <label class="form-label text-theme-21 star">Name</label>
                            <input asp-for="SpanishFileName" hidden />
                            
                        </div>
                        <div class="col-span-6 mt-5">
                            <div class="flex flex-col sm:flex-row items-center  border-gray-200 dark:border-dark-5">
                                <label class="font-label  mr-auto text-theme-21">
                                    Upload File
                                </label>
                            </div>
                            <div id="single-file-upload" class="p-5">
                                <div class="preview" onsubmit="return GetFile()">
                                    <div data-single="true" fallback="true" action="/Admin/video/Upload" class="dropzone" id="mydropzone">
                                        <div class="fallback">

                                        </div>
                                        <div class="dz-message" data-dz-message>
                                            <div class="text-lg font-medium">Drop files here or click to upload.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-span-6 mt-5">
                            <div class="flex flex-col sm:flex-row items-center  border-gray-200 dark:border-dark-5">
                                <label class="font-label  mr-auto text-theme-21">
                                    Upload File
                                </label>
                            </div>
                            <div id="single-file-upload" class="p-5">
                                <div class="preview" onsubmit="return GetFile2()">
                                    <div data-single="true" fallback="true" action="/Admin/video/Upload" class="dropzone" id="mydropzone">
                                        <div class="fallback">

                                        </div>
                                        <div class="dz-message" data-dz-message>
                                            <div class="text-lg font-medium">Drop files here or click to upload.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <input asp-for="IsNew" type="checkbox" class="form-check-input" placeholder="IsActive" />
                        <label class="form-label text-theme-21 pl-1">New</label>
                    </div>

                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        <div class="grid grid-cols-12  gap-y-5 mt-5">
                            <div class="intro-y   col-span-6">
                                @*<a asp-controller="Video" asp-action="List" class="btn btn-primary w-24"> List</a>*@
                                <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                    <label class="pl-10">Back to List</label>
                                    <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="Video" asp-action="List">
                                        <i data-feather="arrow-left" class="w-4 h-4"></i>
                                    </a>
                                </span>
                            </div>
                            <div class="intro-y  col-span-6 ml-auto">

                                <button type="submit" class="btn btn-primary w-24" onclick="ShowLoader('Videoform')">Save</button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </div>


</form>
<script src="../../lib/jquery/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        $("#mydropzone").dropzone({
            autoProcessQueue: false,
            
           
            success: function (file, response) {
                debugger
                var imgName = response;
                file.previewElement.classList.add("dz-success");
                console.log("Successfully uploaded :" + imgName);
            },
            error: function (file, response) {
                file.previewElement.classList.add("dz-error");
            }
        });
    });
   

    function GetFileName() {
        var filename = $(".dz-filename").text();
        document.getElementById("FileName").value = filename;
       
    }
    function GetFile2() {
        var filename = $(".dz-filename").text();
        document.getElementById("SpanishFileName").value = filename;

    }
</script>
