@model List<CRM.Core.Domain.Users.User>
@{
    ViewData["Title"] = "AdminList";
}

    <div class="intro-y  py-10 sm:py-20 ">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg"> Admin List</div>
        </div>


        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    <div class="intro-y box">
                        <div class="flex flex-col sm:flex-row items-center p-5 border-b border-gray-200">
                            <h2 class="font-medium text-base mr-auto">
                                Basic Table
                            </h2>
                         
                        </div>
                        <div class="p-5" id="basic-table">
                            <div class="preview">
                                <div class="overflow-x-auto">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Email</th>
                                                <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Occupation</th>
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td class="border-b dark:border-dark-5">@item.Id</td>
                                                    <td class="border-b dark:border-dark-5">@item.Email</td>
                                                    <td class="border-b dark:border-dark-5">@item.Occupation</td>
                                                </tr>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>



