@{
    ViewData["Title"] = "UnderDevelopment";

}

@model DeVeeraApp.ViewModels.DashboardQuoteModel

    <div class="intro-y flex flex-col sm:flex-row items-center">
        <h2 class="text-lg font-medium mr-auto">
            Feel Good Stories !!!
        </h2>
    </div>
    <div class="intro-y grid grid-cols-12 gap-6 mt-5">
        <!-- BEGIN: Blog Layout -->
        @for (var i = 0; i < 12; i++)
        {
            <div class="intro-y col-span-12 md:col-span-6 xl:col-span-4 box" style="height:550px;">
                <div class="flex items-center border-b border-gray-200 dark:border-dark-5 px-5 py-4">
                    <div class="w-10 h-10 flex-none image-fit">
                        <img alt="" class="rounded-full" src="~/dist/images/placeholders/200x200.jpg">
                    </div>
                    <div class="ml-3 mr-auto">
                        <a href="~/dist/images/placeholders/200x200.jpg" class="font-medium ">Author</a>
                        <div class="flex text-gray-600 truncate text-xs mt-0.5 ">19 seconds ago </div>

                    </div>
                </div>
                <div class="p-5">
                    <a href="~/dist/images/placeholders/200x200.jpg">
                        <div class="h-40 xxl:h-56 image-fit">
                            <img alt="Icewall Tailwind HTML Admin Template" class="rounded-md" src="~/dist/images/placeholders/200x200.jpg">
                        </div>
                    </a>
                    <a class="block font-medium text-base mt-5 ">Desktop publishing software like Aldus PageMaker</a>
                    <div class="text-gray-700 dark:text-gray-600 mt-2 ">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500</div>
                </div>
            </div>
        }

                             
        <!-- END: Blog Layout -->
        <!-- BEGIN: Pagination -->
        <div class="intro-y col-span-12 flex flex-wrap sm:flex-row sm:flex-nowrap items-center">
            <ul class="pagination">
                <li>
                    <a class="pagination__link" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left w-4 h-4"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left w-4 h-4"><polyline points="15 18 9 12 15 6"></polyline></svg> </a>
                </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li> <a class="pagination__link" href="">1</a> </li>
                <li> <a class="pagination__link pagination__link--active" href="">2</a> </li>
                <li> <a class="pagination__link" href="">3</a> </li>
                <li> <a class="pagination__link" href="">...</a> </li>
                <li>
                    <a class="pagination__link" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right w-4 h-4"><polyline points="9 18 15 12 9 6"></polyline></svg> </a>
                </li>
                <li>
                    <a class="pagination__link" href=""> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-right w-4 h-4"><polyline points="13 17 18 12 13 7"></polyline><polyline points="6 17 11 12 6 7"></polyline></svg> </a>
                </li>
            </ul>
            <select class="w-20 form-select box mt-3 sm:mt-0">
                <option>10</option>
                <option>25</option>
                <option>35</option>
                <option>50</option>
            </select>
        </div>
        <!-- END: Pagination -->
    </div>
                       




                   
    <!-- END: Content -->
    <!-- BEGIN: Dark Mode Switcher-->
    <!-- END: Dark Mode Switcher-->



@*END: Error Page*@

@*BEGIN: JS Assets*@

@*END: JS Assets*@



<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=[" your-google-map-api"]&libraries="places&quot;"></script>
<script src="~/dist/js/app.js"></script>

