@model DeVeeraApp.ViewModels.QuestionAnswer.QuestionModel
@{
    ViewData["Title"] = "Create";
}

<form asp-controller="QuestionAnswer" asp-action="Create" method="post" id="questionanswer" onsubmit="ShowLoader('questionanswer');">
    <div class="intro-y inbox  py-10 sm:py-20 ">

        <div class="px-5 ">
            <div class="font-medium text-center text-lg">Create Question</div>
            <div class="text-gray-600 text-center mt-2">Please Add Questions For Modules</div>
        </div>
       

        <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                <div class="intro-y box p-5 col-span-12">
                    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                    {
                        <div asp-validation-summary="All" class="text-theme-6 mt-4">
                        </div>
                    }
                    <div class="mt-5">
                        <label for="input-wizard-1" class="form-label text-theme-21 star">Question</label>
                        <input id="input-wizard-1" asp-for="@Model.Question" type="text" class="form-control" placeholder="Question">
                        <span asp-validation-for="Question" class="text-theme-6 mt-2"></span>
                    </div>
                    <div class="mt-5">
                        <label class="form-label text-theme-21 ">Level</label>
                        <select id="levelId" asp-for="LevelId" asp-items="Model.AvailableLevels" onchange="GetModuleByLevelId(0)" type="text" data-search="true" class="select form-control w-full " placeholder="Select Level"></select>
                    </div>
                    <div class="mt-5">
                        <label class="form-label text-theme-21 ">Module</label>
                        <select id="moduleId" asp-for="ModuleId" asp-items="Model.AvailableModules" type="text" data-search="true" class="select form-control w-full" placeholder="Select Module"></select>
                    </div>
                    <input id="questionarrie" value="@ViewBag.pagetype"  name="pagetype" hidden/>
                    <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                        @*<a asp-controller="QuestionAnswer" asp-action="List" class="btn btn-primary mr-2 w-24">List</a>*@
                        <div class="intro-y   col-span-6 pr-5">
                            <span class="btn btn-outline-secondary relative justify-end rounded-full h-10 w-32">
                                Back to List
                                <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="QuestionAnswer" asp-action="List">
                                    <i data-feather="arrow-left" class="w-4 h-4"></i>
                                </a>
                            </span>
                        </div>
                        <div class="intro-y   col-span-6">
                            <button type="submit" class="btn btn-primary w-24" >Save</button>
                        </div>
                        </div>

                    </div>

            </div>

        </div>

    </div>


</form>
<script src="~/dist/js/QuestionAnswer.js"></script>
