.coming-soon-content .OtpForm {
    margin-top: 45px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 1.25rem rgb(108 118 134 / 10%);
    box-shadow: 0 0 1.25rem rgb(108 118 134 / 10%);
    padding: 30px;
}
