body {
}


.paper-header {
    position: relative;
    height: 75px;
    margin-left: 75px;
}


.paper {
    position: relative;
    /* height: 750px;*/
    height: 760px;
    width: 100%;
    background: rgba(255,255,255,0.9);
    /*margin: -275px -225px;*/
    /*left: 15%;*/
    /* margin: 5%;*/
    box-shadow: 0px 0px 5px 0px #888;
}

    .paper::before {
        content: '';
        position: absolute;
        left: 75px;
        /* height: 105%;*/
        height: 100%;
        width: 2px;
        background: rgba(255,0,0,0.4);
    }

.lines {
    margin-top: 12px;
    /* height: calc(100% - 50px);*/
    height: calc(100% - 61px);
    width: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}

.text {
    position: absolute;
    top: 140px;
    left: 85px;
    bottom: 10px;
    right: 10px;
    line-height: 25px;
    /*   font-family: 'Indie Flower';*/
    overflow: hidden;
    outline: none;
}

.holes {
    position: absolute;
    left: 10px;
    height: 25px;
    width: 25px;
    background: lightgoldenrodyellow;
    border-radius: 50%;
    box-shadow: inset 0px 0px 2px 0px #888;
}

.hole-top {
    top: 10%;
}

.hole-middle {
    top: 50%;
}

.hole-bottom {
    bottom: 10%;
}

[contenteditable] {
    outline: 0px solid transparent;
}

.editable:empty:before {
    content: attr(data-placeholder);
    color: gainsboro;
}

.sticky-note-green {
    background-color: #c9eebf;
    width: 1.25rem;
    height: 1.25rem
}

.sticky-note-yellow {
    background-color: #ffffe0;
    width: 1.25rem;
    height: 1.25rem
}

.sticky-note-pink {
    background-color: #f5dff0;
    width: 1.25rem;
    height: 1.25rem
}

.sticky-note-fall-green {
    background-color: #efe6c1;
    width: 1.25rem;
    height: 1.25rem
}

.sticky-note-sky-blue {
    background-color: #e2e9f6;
    width: 1.25rem;
    height: 1.25rem
}

.sticky-note-white {
    background-color: #FFFFFF;
    width: 1.25rem;
    height: 1.25rem
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar-header {
    background-color: #F0B9B2 !important ;
}

.dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.selected, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-from, .dcalendarpicker .dudp__cal-container .dudp__calendar .dudp__cal-week .dudp__date.range-to {
    font-weight: normal;
    color: #fff !important;
    background-color: #F0B9B2 !important;
}

.dudp__wrapper[data-theme='blue'] .dudp__calendar .dudp__cal-week .dudp__date.current {
    color: black !important;
}

.dudp__wrapper[data-theme='blue'] .dudp__buttons .dudp__button, .dudp__wrapper[data-theme='blue'] .dudp__months-view .dudp__month.selected, .dudp__wrapper[data-theme='blue'] .dudp__years-view .dudp__year.selected {
    color: black;
}
.temp {
    color:red;
   font:bold;
}
/*.dudp__date.current {
    background-color: #F0B9B2 !important;
}
.dudp__date.selected {
    background-color: #F0B9B2 !important;
}*/