################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/CRM.Data/bin
/CRM.Core/bin
/CRM.Data/obj
/CRM.Core/obj
/CRM.Services/bin
/CRM.Services/obj
/DeVeeraApp/bin
/CRM.Core/bin
/CRM.Services/bin
.vs/DeVeeraApp/xs/project-cache/CRM.Core-Debug.json
*.json
*.xml
*.dll
*.pdb
*.cache
*.cache
*.cache
/DeVeeraApp/obj
*.dll
*.pdb
*.dll
CRM.Data/bin/Debug
*.dll
*.cache
*.resources
DeVeeraApp/obj
