
@{
    ViewData["Title"] = "Index";
}

<div class="px-5 mt-10">
    <div class="font-medium text-center text-lg">Feel-Good-Stories</div>
    <div class="text-gray-600 text-center mt-2">Below are the list of stories</div>

</div>
<div class="p-5" id="basic-table">
    <div class="preview">
        <div class="overflow-x-auto">
            <div class="intro-y box">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">#</th>
                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Title</th>
                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Story</th>
                            <th class="border-b-2 dark:border-dark-5 whitespace-nowrap">Author</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="border-b dark:border-dark-5">1</td>
                            <td class="border-b dark:border-dark-5">Angelina</td>
                            <td class="border-b dark:border-dark-5">Jolie</td>
                            <td class="border-b dark:border-dark-5">angelinajolie</td>
                        </tr>
                        <tr>
                            <td class="border-b dark:border-dark-5">2</td>
                            <td class="border-b dark:border-dark-5">Brad</td>
                            <td class="border-b dark:border-dark-5">Pitt</td>
                            <td class="border-b dark:border-dark-5">bradpitt</td>
                        </tr>
                        <tr>
                            <td class="border-b dark:border-dark-5">3</td>
                            <td class="border-b dark:border-dark-5">Charlie</td>
                            <td class="border-b dark:border-dark-5">Hunnam</td>
                            <td class="border-b dark:border-dark-5">charliehunnam</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

