@model DeVeeraApp.ViewModels.LevelModel
@{
    ViewData["Title"] = "Edit";
}

<div class="intro-y  py-10 sm:py-20 ">
    <div class="px-5 ">
        <div class="font-medium text-center text-lg">Edit Level</div>
        <div class="text-gray-600 text-center mt-2">Please add Level name and description</div>
    </div>
    <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

        <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
            <div class="intro-y box p-5 col-span-12">
                <div class="intro-y pr-1">
                    <div class="p-2">
                        <div class="pos__tabs nav nav-tabs justify-center" role="tablist">
                            <a id="level-tab" data-toggle="tab" data-target="#level" href="javascript:;" class="flex-1 py-2 rounded-md text-center active" role="tab" aria-controls="level" aria-selected="true">Level</a>
                            <a id="modules-tab" data-toggle="tab" data-target="#modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center" role="tab" aria-controls="modules" aria-selected="false">Add Module</a>
                            <a id="view-modules-tab" data-toggle="tab" data-target="#view-modules" href="javascript:;" class="flex-1 py-2 rounded-md text-center" role="tab" aria-controls="view-modules" aria-selected="false">View Modules</a>
                        </div>
                    </div>
                </div>
                <div class="tab-content">
                    <div id="level" class="tab-pane active" role="tabpanel" aria-labelledby="level-tab">
                        <form asp-controller="Level" asp-action="Edit" method="post">
                            @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                            {
                                <div asp-validation-summary="All" class="text-theme-6 mt-4">
                                </div>
                            }
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Title</label>
                                <input id="input-wizard-1" asp-for="@Model.Title" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Title" class="text-theme-6 mt-2"></span>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Quote</label>
                                <input id="input-wizard-1" asp-for="@Model.Quote" type="text" class="form-control" placeholder="quote">
                                <span asp-validation-for="Quote" class="text-theme-6 mt-2"></span>
                            </div>
                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Subtitle</label>
                                <input id="input-wizard-1" asp-for="@Model.Subtitle" type="text" class="form-control" placeholder="title">
                                <span asp-validation-for="Subtitle" class="text-theme-6 mt-2"></span>
                            </div>

                            <div class="mt-5">
                                <label class="form-label text-theme-21 star">Video URL</label>
                                <input asp-for="VideoURL" type="text" class="form-control" placeholder="video name" />
                                <span asp-validation-for="VideoURL" class="text-theme-6 mt-2"></span>

                            </div>


                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea asp-for="FullDescription" class="editor"> </textarea>
                                    <span asp-validation-for="FullDescription" class="text-theme-6 mt-2"></span>

                                </div>
                            </div>
                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <button type="submit" class="btn btn-primary w-24">Save</button>
                            </div>
                        </form>
                    </div>
                    <div id="modules" class="tab-pane" role="tabpanel" aria-labelledby="modules-tab">
                        <form asp-controller="Level" asp-action="AddModule" method="post">
                            <div class="mt-5">
                                <label class="form-label text-theme-21 star">Video URL</label>
                                <input asp-for="Id" hidden/>
                                <input asp-for="Modules.VideoURL" type="text" class="form-control" placeholder="video name" />
                                <span asp-validation-for="Modules.VideoURL" class="text-theme-6 mt-2"></span>

                            </div>

                            <div class="mt-5">
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Description</label>
                            </div>
                            <div class="" id="standard-editor">
                                <div class="preview">
                                    <textarea asp-for="Modules.FullDescription" class="editor"> </textarea>
                                    <span asp-validation-for="Modules.FullDescription" class="text-theme-6 mt-2"></span>

                                </div>

                            </div>

                            <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                                <button type="submit" class="btn btn-primary w-24">Save</button>
                            </div>
                        </form>
                    </div>

                    <div id="view-modules" class="tab-pane " role="tabpanel" aria-labelledby="view-modules-tab">

                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

