@inject CRM.Core.IWorkContext _workContext
@using DeVeeraApp.ViewModels
<!DOCTYPE html>
<!--
Template Name: Tinker - HTML Admin Dashboard Template
Author: Left4code
Website: http://www.left4code.com/
Contact: muhammadrizki@left4code.com
Purchase: https://themeforest.net/user/left4code/portfolio
Renew Support: https://themeforest.net/user/left4code/portfolio
License: You must have a valid license purchased only from themeforest(the above link) in order to legally use the theme for your project.
-->
<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Tinker admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Tinker Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>Update Profile - Tinker - Tailwind HTML Admin Template</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/AdminAssets/dist/css/app.css" />
    <link href="~/dist/css/sweetalert2.min.css" rel="stylesheet" />
    <link href="~/dist/js/datetimepicker/css/duDatepicker.css" rel="stylesheet" />
    <link href="~/dist/js/datetimepicker/css/mdtimepicker.css" rel="stylesheet" />
    <link href="~/AdminAssets/dist/css/styleAdmin.css" rel="stylesheet" />
    <!-- END: CSS Assets-->
    @*<style>

            .ovalicon {
                position: absolute;
                top: 50%;
                left: 50%;
                width: 100%;
                margin: -50px 0px 0px -50px;
                z-index: 998;
                color: #0071BC;
            }

            .mr-padding {
                margin-right: 76px;
            }
        </style>*@
    <!-- END: CSS Assets-->
</head>
<!-- END: Head -->
<body class="main">

    @await Html.PartialAsync("ToastNotification")

    @*<vc:mobile-menu> </vc:mobile-menu>*@
    @await Component.InvokeAsync("MobileMenu")
    <div class="flex overflow-hidden">

        @await Component.InvokeAsync("AdminMenu")
        <!-- BEGIN: Content -->
        <div class="content">
            @*<vc:top-bar></vc:top-bar>*@
            @await Component.InvokeAsync("TopBar")

            @RenderBody()
        </div>
        <!-- END: Content -->
    </div>
    @await Component.InvokeAsync("ScriptsSection")
   
</body>
</html>


