@model DeVeeraApp.ViewModels.Diaries.DiaryModel
@{
    ViewData["Title"] = "Create";
}
<style>

    body {
        margin: 0;
        padding: 0;
        /*background: lightgoldenrodyellow*/
    }

    .paper-header {
        position: absolute;
        height: 40px;
        left: 45px;
    }

    .paper-header-title {
        margin-left: 175px;
    }
    .paper-header-save {
        margin-left: 150px;
    }
    .paper {
        position: absolute;
        height: 550px;
        width: 450px;
        background: rgba(255,255,255,0.9);
        margin: -275px -225px;
        left: 50%;
        top: 55%;
        box-shadow: 0px 0px 5px 0px #888;
    }

        .paper::before {
            content: '';
            position: absolute;
            left: 45px;
            height: 100%;
            width: 2px;
            background: rgba(255,0,0,0.4);
        }

    .lines {
        margin-top: 40px;
        height: calc(100% - 40px);
        width: 100%;
        background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
    }

    .text {
        position: absolute;
        top: 65px;
        left: 55px;
        bottom: 10px;
        right: 10px;
        line-height: 25px;
        font-family: 'Indie Flower';
        overflow: hidden;
        outline: none;
    }

    .holes {
        position: absolute;
        left: 10px;
        height: 25px;
        width: 25px;
        background: lightgoldenrodyellow;
        border-radius: 50%;
        box-shadow: inset 0px 0px 2px 0px #888;
    }

    .hole-top {
        top: 10%;
    }

    .hole-middle {
        top: 50%;
    }

    .hole-bottom {
        bottom: 10%;
    }

    [contenteditable] {
        outline: 0px solid transparent;
    }

    .editable:empty:before {
        content: attr(data-placeholder);
        color: gainsboro;
    }
</style>
<form asp-controller="Diary" asp-action="Create" method="post" id="diaryForm" onsubmit="getDiaryContent()">
  
    <div class="paper">
        <div class="paper-header mt-2 flex">          
                <div class="paper-header-title font-medium text-center text-lg">Diary</div>
                <div class="paper-header-save">
                    <button type="submit"><i class="text-theme-21" data-feather="save"></i></button>                   
                </div>

            @*<div class="relative w-56">
            <div class="absolute rounded-l w-10 h-full flex items-center justify-center bg-gray-100 border text-gray-600 dark:bg-dark-1 dark:border-dark-4"> <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar w-4 h-4"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg> </div>
            <input type="text" class="diarydate datepicker form-control pl-12 h-8" data-single-mode="true">
        </div>*@
        </div>
                <div class="lines">
                    <div class="text">
                        <input asp-for="LevelId" hidden />
                        <input asp-for="ModuleId" hidden />
                        <input asp-for="Title" hidden />
                        <input asp-for="Comment" hidden />
                        <br />
                        <label class="text-theme-21 star">Title </label> <br /><div class="editable" id="title" name="title" contenteditable spellcheck="false" data-placeholder="Enter Title Here ..."></div><br /><br />
                        <label class="text-theme-21 star">Add New Diary Entry  </label><br />
                        <div div class="editable" id="comment" name="description" contenteditable spellcheck="false" data-placeholder="Enter Description Here ..."></div>
                    </div>

                </div>
               
                @*<div class="holes hole-top"></div>

            <div class="holes hole-middle"></div>

            <div class="holes hole-bottom"></div>*@
            </div>
</form>
<script>
    function getDiaryContent() {
        debugger
        var title = document.getElementById("title").innerText;
        var comment = document.getElementById("comment").innerText;
        document.getElementById("Title").value = title;
        document.getElementById("Comment").value = comment;
    }
</script>