
@{
    ViewData["Title"] = "GotEmotionPage";
}

<div class="intro-y  py-10 sm:py-20 ">

    <div class="px-5 ">
        <div class="font-extrabold text-8xl text-center ">@ViewBag.emotion</div>

    </div>
    <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40 ml-2">
        <a class="ml-9"> Back to Home </a>
        <a href="/Home/Index" class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding">
            <i data-feather="arrow-left" class="w-4 h-4"></i>
        </a>
    </span>
   
    </div>

