@model List<DeVeeraApp.ViewModels.Diaries.DiaryModel>
@{
    ViewData["Title"] = "List";
}

<!-- BEGIN: Recent Activities -->
<div class="col-span-12 md:col-span-6 xl:col-span-4 xxl:col-span-12 mt-3">
    <div class="intro-x flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
            Diary
        </h2>
       
    </div>

    <div class="report-timeline mt-5 relative">
        @foreach (var item in Model)
        {
            <div class="intro-x relative flex items-center mb-3">
                <div class="report-timeline__image">
                    <div class="w-10 h-10 flex-none image-fit rounded-full overflow-hidden">
                        <img alt="Icewall Tailwind HTML Admin Template" src="~/dist/images/profile-12.jpg">
                    </div>
                </div>
                <div class="box px-5 py-3 ml-4 flex-1 zoom-in">
                    <div class="flex items-center">
                        <div class="font-medium">Source</div>
                        <div class="text-xs text-gray-500 ml-auto">@item.CreatedOn.ToShortDateString() @item.CreatedOn.ToShortTimeString()</div>
                    </div>
                    <div class="text-gray-600 mt-1">@item.Comment</div>
                </div>
            </div>
        }
    </div>

</div>
<!-- END: Recent Activities -->

<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/dist/js/CustomJs/Delete.js"></script>
