@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="">
 
    <div class=" mt-10 lg:mt-0">
        <div class="intro-x mt-10 text-4xl font-medium">Level @ViewBag.LessonNumber</div>

        @if (Convert.ToInt32(ViewBag.LessonNumber) == 1)
        {
            <div class="">
                <div class="intro-y news p-5 box mt-8">
                    <!-- BEGIN: Blog Layout -->
                    <h2 class="intro-y font-medium text-xl sm:text-2xl">
                        Training Modules - Basic Emotional Balance
                    </h2>
                    <div class="intro-y mt-6">
                        <div class="news__preview image-fit">
                            @{string src = $"~/videos/{ViewBag.lessonName}.mp4";}
                           <video src="@Url.Content(src)" controls style="width:100%; height:100%" loop />
                        </div>
                    </div>
                    
                    <div class="intro-y text-justify leading-relaxed mt-10">
                        <p class="mb-5"><b>Module 1</b></p>
                        <p class="mb-5"><b>Presence</b></p>
                        <p >a.Time</p>
                        <p >
                            b.Person
                        </p>
                        <p class="mb-5">
                            b.Person
                        </p>
                        <p class="mb-5">
                            If mind wanders into the future or the past:
                        </p>
                        <p>
                            a. Write your thoughts down. If they are not worth writing then they are not
                            .
                        </p>
                        <p>b. Plan the future you want or align your yourself with purpose</p>
                        <p >c. Make sure that thoughts are about positive people/events</p>
                        <p class="mb-5">d. Practice acceptance of future events</p>
                        <p>Be CEO of your mind</p>
                        <p>Create the future</p>
                        <p>
                            Enjoy the present moment
                            Off (turn the mind off)
                        </p>


                        @*<span>SADNESS</span>
                        <span>What it the feeling/emotion now?</span>
                        <span>Can you let go</span>
                        <span>If you can?</span>
                        <span>If not,</span>
                        <span>If you could, would you let go.</span>
                        <span>When? In a bit?</span>
                        <spa>Objective: Live in VALUE, LOVE AND PEACE/PURPOSE</spa>*@
                    </div>
                  <br /><br /> <hr />
                    <div class="intro-y text-justify leading-relaxed mt-5">
                        <p class="mb-5"><b>Module 2</b></p>
                        <p class="mb-5"><b>Acceptance (Heart)</b></p>
                        <p class="mb-5">Death</p>
                        <p class="mb-5">
                            Accept the fact that life is finite and thus appreciate and celebrate every
                            day you are alive. Make it count.
                        </p>
                        <p class="mb-5">Loss</p>
                        <p>
                            Loved ones
                        </p>
                        <p>Material possessions (cars, money, etc)</p>
                        <p>Youth</p>
                        <p class="mb-5">Health</p>

                        <p class="mb-5">People</p>
                        <p>
                            Make a list of 3-5 people that are the hardest to accept. Imagine
                            interacting with them and practice accepting them as your best teachers.
                        </p>

                    </div>
                    
                </div>
            </div>


                        }

        <a asp-controller="home" asp-action="index" class="intro-x btn py-3 px-4 border-white dark:border-dark-5  mt-10">Back to Home</a>
    </div>
</div>
