@model DeVeeraApp.ViewModels.DashboardQuoteModel

@{
    ViewData["Title"] = "Create";
}


<form asp-controller="DashboardQuote" asp-action="Create" method="post" id="formDashboardQuote" onsubmit="ShowLoader('formDashboardQuote');">
    <div class="intro-y inbox  py-10 sm:py-20 items-center">
            <div class="px-5 ">
                <div class="font-medium text-center text-lg">Dashboard Quote</div>
                <div class="text-gray-600 text-center mt-2">Please add quote to show on dashboard quote after login</div>
            </div>
            <div class="px-5 sm:px-20 pt-10 border-t border-gray-200 dark:border-dark-5">

                <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                    <div class="intro-y box p-5 col-span-12">
                        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
                        {
                            <div asp-validation-summary="All" class="text-theme-6 mt-4">
                            </div>
                        }
                        <div class="mt-5 grid grid-cols-12 gap-4 gap-y-5 ">                             
                             <div class="col-span-6 ">
                                 <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">English </label>

                                <a onclick="TranslateSpanishCreateQuote()" class="btn btn-primary w-40 " style="margin-left:176px"><i data-feather="arrow-right" class="mr-2"></i>Translate</a>
                            </div>
                            <label for="input-wizard-1" class="form-label text-theme-21 star mt-5">Quote</label>
                            <input id="createquote" asp-for="Title" type="text" class="form-control" placeholder="Quote">
                            <span asp-validation-for="Title" class="text-theme-21  mt-2"></span>
                               </div> 
                             
                                <div class="col-span-6 ">
                                     <div>
                                <label for="input-wizard-1" class="form-label text-theme-21 star">Spanish </label>
                                <a class="btn btn-primary w-40" onclick="TranslateEnglishCreateQuote()" style="margin-left:176px"><i data-feather="arrow-left" class="mr-2"></i>Translate</a>
                            </div>
                            <label for="input-wizard-1" class="form-label text-theme-21 star mt-5">Quote</label>
                            <input id="spanishquote" asp-for="TitleSpanish" type="text" class="form-control" placeholder="Quote">
                            <span asp-validation-for="TitleSpanish" class="text-theme-21  mt-2"></span>
                               </div>   
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21">Author</label>
                            <input id="input-wizard-1" asp-for="Author" type="text" class="form-control" placeholder="Author">
                            <span asp-validation-for="Author" class="text-theme-21 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            <label for="input-wizard-1" class="form-label text-theme-21 star">Select Level</label>
                            <select id="input-wizard-1" asp-for="LevelId" asp-items="Model.AvailableLevels" type="text" class="form-control" placeholder="title"></select>
                            <span asp-validation-for="LevelId" class="text-theme-21 mt-2"></span>
                        </div>

                        <div class="mt-5">
                            <input asp-for="IsDashboardQuote" class="form-check-input" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Dashboard Quote</label>
                            <span asp-validation-for="IsDashboardQuote" class="text-theme-6 mt-2"></span>
                            <input asp-for="IsRandom" class="form-check-input ml-4" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Random Quote</label>
                            <span asp-validation-for="IsRandom" class="text-theme-6 mt-2"></span>
                            <input asp-for="IsWeeklyInspiringQuotes" class="form-check-input ml-4" type="checkbox">
                            <label for="input-wizard-1" class="form-label text-theme-21 ">Weekly Inspiring Quote</label>
                        </div>


                        <div class="intro-y col-span-12 flex items-center justify-center sm:justify-end mt-5">
                            <div class="grid grid-cols-12 gap-4 gap-y-5 mt-5">
                                <div class="intro-y   col-span-6">
                                    @*<a asp-controller="DashboardQuote" asp-action="List" class="btn btn-primary w-24"> List</a>*@
                                    <span class="btn btn-outline-secondary relative justify-start rounded-full h-10 w-40">
                                        <label class="pl-10">Back to List</label>
                                        <a class="w-8 h-8 absolute flex justify-center items-center bg-theme-17 dark:bg-theme-26 text-white rounded-full  top-0 bottom-0 my-auto pl-24 mr-padding " asp-controller="DashboardQuote" asp-action="List">
                                            <i data-feather="arrow-left" class="w-4 h-4"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="intro-y  col-span-6 ml-auto">

                                    <button type="submit" class="btn btn-primary w-24" id="Quoteid" >Save</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
    </div>

</form>

<script type="text/javascript">

    function TranslateSpanishCreateQuote() {

        var Title = document.getElementById('createquote').value;
       
        

            $.ajax({
                url: "/Admin/DashboardQuote/TranslateSpanishCreateQuote",
                type: "POST",
                data: { Title },

                success: function (data, status) {

alert(data.title);

                    $("#spanishquote").val(data.title);
                  
                  
                },


            });
      




    }

</script>

<script type="text/javascript">

    function TranslateEnglishCreateQuote() {

        var Title = document.getElementById('spanishquote').value;
        
       

            $.ajax({
               url: "/Admin/DashboardQuote/TranslateEnglishCreateQuote",
                type: "POST",
                data: { Title  },

                success: function (data, status) {
                    $("#createquote").val(data.title);                   
                    CKEDITOR.instances['editorEnglish'].setData(data.fullDescription);
                },


            });
        
    }

</script>

